# Environment variables example for Docker deployment
# DO NOT USE THIS FILE IN PRODUCTION, COPY IT TO .env AND MODIFY THE VALUES AS NEEDED

# Frontend
FRONTEND_PROTOCOL=https
FRONTEND_HOST=mariokart.example.com
FRONTEND_PORT=8080

# Backend
SPRING_PROFILES_ACTIVE=prod
USER_NAME=examplebackenduser
USER_PASSWORD=examplebackendpassword
SECRET_KEY=examplesecretkeymin32characters1
VAPID_PUBLIC_KEY=BK_tjqvyXgG0t2lohS9vc68Qw3ZkaqvGMeiwVTYA_ofi_OE6MkRMEyhYTOJAegNr6EsBpJQi2183yJAEWmqDCNo # example key, do not use  in production
VAPID_PRIVATE_KEY=eYjsZJaay1z2Ab-Q-BaQX0KGmdDIiJr-W9NCYUbpNGk # example key, do not use in production
VAPID_CONTACT_EMAIL=mailto:email@example.com
BACKEND_PORT=3000
BACKEND_API_PROTOCOL=https
BACKEND_API_HOST=mariokart.example.com
BACKEND_API_PORT=443
BACKEND_API_PATH=api
BACKEND_WS_PROTOCOL=https
BACKEND_WS_HOST=mariokart.example.com
BACKEND_WS_PORT=443
BACKEND_WS_PATH=api/ws
TZ=Europe/Berlin

# Schedule
SCHEDULE_PROTOCOL=http
SCHEDULE_HOST=schedule
SCHEDULE_PORT=8000

# Database
POSTGRES_HOST=db
POSTGRES_USER=exampledbuser
POSTGRES_PASSWORD=exampledbpassword
POSTGRES_DB=exampledbname
POSTGRES_PORT=5432

# Nginx
FRONTEND_VIRTUAL_HOST=https://mariokart.example.com
BACKEND_VIRTUAL_HOST=https://mariokart.example.com/api
PORTAINER_VIRTUAL_HOST=https://portainer.mariokart.example.com -> :9000